<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-episode-heading" data-cy="EpisodeCreateUpdateHeading" jhiTranslate="streamingApp.episode.home.createOrEditLabel">
        Crear o editar Episode
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingApp.episode.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              Este campo requiere al menos 3 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingApp.episode.synopsis" for="field_synopsis">Synopsis</label>
          <input type="text" class="form-control" name="synopsis" id="field_synopsis" data-cy="synopsis" formControlName="synopsis" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingApp.episode.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="streamingApp.episode.film" for="field_film">Film</label>
          <select class="form-control" id="field_film" data-cy="film" name="film" formControlName="film" [compareWith]="compareFilm">
            <option [ngValue]="null"></option>
            <option [ngValue]="filmOption" *ngFor="let filmOption of filmsSharedCollection">{{ filmOption.title }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
