<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <div class="container">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/person/new']"></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedPeople()"
          [disabled]="!selectedPeople || !selectedPeople.length"
        ></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>
    </p-toolbar>

    <p-table
      *ngIf="people"
      #dt
      [value]="people"
      [globalFilterFields]="['name']"
      responsiveLayout="scroll"
      [(selection)]="selectedPeople"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage People</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." (ngModelChange)="search($event)" [(ngModel)]="searchText"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Image</th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person>
        <tr>
          <td>
            <p-tableCheckbox [value]="person"></p-tableCheckbox>
          </td>
          <td>
            <img [src]="'data:' + person.coverContentType + ';base64,' + person.cover" [alt]="person.name" width="100" class="shadow-4" />
          </td>
          <td>{{ person.name }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              [routerLink]="['/person', person.id, 'edit']"
            ></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(person)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="people && people.length > 0">
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div *jhiHasAnyAuthority="'ROLE_USER'">
  <h2><span jhiTranslate="streamingApp.person.home.distribution">Reparto</span></h2>
  <div class="row">
    <jhi-person-card class="col-sm-12 col-md-6 col-lg-3 col-xl-2" *ngFor="let person of people" [person]="person"></jhi-person-card>
  </div>
  <br />
  <div *ngIf="people && people.length > 0">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
