<form *ngIf="people" name="deleteForm" (ngSubmit)="confirmDelete(people!)" class="text-dark">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="personDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmar operación de borrado</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      *ngIf="people.length == 1"
      id="jhi-delete-person-heading"
      jhiTranslate="streamingApp.person.delete.question"
      [translateValues]="{ id: people[0].id, name: people[0].name }"
    >
      ¿Seguro que quiere eliminar a {{ people[0].name }} con id: {{ people[0].id }}?
    </p>
    <p
      *ngIf="people.length > 1"
      id="jhi-delete-person-heading"
      jhiTranslate="streamingApp.person.delete.selected.question"
    >
    ¿Seguro que quiere eliminar a las personas seleccionadas?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-person" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
