<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <div class="container">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/film/new']"></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedFilms()"
          [disabled]="!selectedFilms || !selectedFilms.length"
        ></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>
    </p-toolbar>

    <p-table
      *ngIf="films"
      #dt2
      [value]="films"
      [globalFilterFields]="['name']"
      responsiveLayout="scroll"
      [(selection)]="selectedFilms"
      [rowHover]="true"
      [loading]="isLoading"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Film</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>All</th>
          <th>Title</th>
          <th>Type</th>
          <th>Gender</th>
          <th></th>
        </tr>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>
            <input class="filter" pInputText placeholder="Title..." type="text" (ngModelChange)="filterByTitle($event)" [(ngModel)]="titleFilter" />
          </th>
          <th>
            <p-multiSelect [(ngModel)]="filmTypeFilter" [options]="filmTypeValues" placeholder="Any" (ngModelChange)="filterByFilmType()">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="ml-1">{{ option }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </th>
          <th>
            <p-multiSelect [(ngModel)]="genderFilter" [options]="genderValues" placeholder="Any" (ngModelChange)="filterByGender()">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="ml-1">{{ option }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </th>
          <th>
            <button pButton pRipple label="Clear" icon="pi pi-filter-slash" class="p-button-warning mr-2" (click)="clearFilters()"></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-film>
        <tr>
          <td>
            <p-tableCheckbox [value]="film"></p-tableCheckbox>
          </td>
          <td>
            {{ film.title }}
          </td>
          <td>
            {{ film.filmType }}
          </td>
          <td>
            {{ film.gender }}
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              [routerLink]="['/film', film.id, 'edit']"
            ></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(film)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="films && films.length > 0">
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div *jhiHasAnyAuthority="'ROLE_USER'">
  <div *ngIf="mostPopularFilms">
    <h2><span jhiTranslate="streamingApp.film.home.mostPopular">Mas popular</span></h2>
    <p-carousel [value]="mostPopularFilms" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
      <ng-template let-film pTemplate="film">
        <jhi-film-card [film]="film"></jhi-film-card>
      </ng-template>
    </p-carousel>
  </div>

  <div *ngIf="newFilms">
    <h2><span jhiTranslate="streamingApp.film.home.news">Novedades</span></h2>
    <p-carousel [value]="newFilms" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
      <ng-template let-film pTemplate="film">
        <jhi-film-card [film]="film"></jhi-film-card>
      </ng-template>
    </p-carousel>
  </div>

  <div *ngIf="lastAddedFilms">
    <h2><span jhiTranslate="streamingApp.film.home.lastAdded">Ultimas añadidas</span></h2>
    <p-carousel [value]="lastAddedFilms" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
      <ng-template let-film pTemplate="film">
        <jhi-film-card [film]="film"></jhi-film-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
